body {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      line-height: 1.4;

   	  background-color: white;
   	  #background-image: url("../../assets/img/grid-bg.jpg");
   	  background-attachment: fixed;
   	  
}